/* Color Theme Swatches in Hex */
.Life-insurance-concept.-1-hex {
  color: #7a9fbf;
}
.Life-insurance-concept.-2-hex {
  color: #bacbd9;
}
.Life-insurance-concept.-3-hex {
  color: #f0f2f2;
}
.Life-insurance-concept.-4-hex {
  color: #f2c791;
}
.Life-insurance-concept.-5-hex {
  color: #d9967e;
}

/* Color Theme Swatches in RGBA */
.Life-insurance-concept.-1-rgba {
  color: rgba(122, 159, 191, 1);
}
.Life-insurance-concept.-2-rgba {
  color: rgba(186, 202, 216, 1);
}
.Life-insurance-concept.-3-rgba {
  color: rgba(239, 242, 242, 1);
}
.Life-insurance-concept.-4-rgba {
  color: rgba(242, 198, 145, 1);
}
.Life-insurance-concept.-5-rgba {
  color: rgba(216, 149, 125, 1);
}

/* Color Theme Swatches in HSLA */
.Life-insurance-concept.-1-hsla {
  color: hsla(208, 35, 61, 1);
}
.Life-insurance-concept.-2-hsla {
  color: hsla(208, 28, 79, 1);
}
.Life-insurance-concept.-3-hsla {
  color: hsla(185, 8, 94, 1);
}
.Life-insurance-concept.-4-hsla {
  color: hsla(33, 79, 76, 1);
}
.Life-insurance-concept.-5-hsla {
  color: hsla(16, 54, 67, 1);
}
