body {
  font-family: "El Messiri";
  color: #bf214b;
  /* background-image: url("https://source.unsplash.com/random");
  background-image: url(); */
}

.container {
  background-color: #0e6973;
  color: #c1d0d9;
  text-align: center;
  font-family: "El Messiri";
  border-radius: 20px;
}

a:hover {
  color: #bf214b;
}

footer {
  background-color: #0e6973;
  color: #c1d0d9;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "El Messiri";
}

.itemValue {
  margin: 10px;
}

.table {
  color: #c1d0d9;
}

.column.headerStyle {
  background-color: balck;
}

.homeStyle {
  background-color: #0e6973;
  display: inline-block;
}

.cardStyle {
  margin: 10px;
  color: #bf214b;
  font-family: "El Messiri";
}

/* Color Theme Swatches in Hex */
.Travelers-couple-look-at-the-mountain-lake.-Travel-and-active-life-concept-with-team.-Adventure-and-travel-in-the-mountains-region-in-the-Austria.-Travel---image-1-hex {
  color: #f26d85;
}
.Travelers-couple-look-at-the-mountain-lake.-Travel-and-active-life-concept-with-team.-Adventure-and-travel-in-the-mountains-region-in-the-Austria.-Travel---image-2-hex {
  color: #bf214b;
}
.Travelers-couple-look-at-the-mountain-lake.-Travel-and-active-life-concept-with-team.-Adventure-and-travel-in-the-mountains-region-in-the-Austria.-Travel---image-3-hex {
  color: #c1d0d9;
}
.Travelers-couple-look-at-the-mountain-lake.-Travel-and-active-life-concept-with-team.-Adventure-and-travel-in-the-mountains-region-in-the-Austria.-Travel---image-4-hex {
  color: #0e6973;
}
.Travelers-couple-look-at-the-mountain-lake.-Travel-and-active-life-concept-with-team.-Adventure-and-travel-in-the-mountains-region-in-the-Austria.-Travel---image-5-hex {
  color: #0e7373;
}
